.App {
  text-align: center;
}

.App button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 24px;
  color: #fff;
  border-radius: 7px;
  background: #282c34;
  text-decoration: none;
}

.App button:focus {outline:0;}